*{
    background-image:url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
@import url('https://fonts.googleapis.com/css?family=Lobster');
#start{
    margin-top:150px;
}
#start,button{
    padding: 10px;
    font-weight:bold;
    text-align:center;
    background: rgb(114, 133, 211);
    color:aliceblue;
    border:none;
    box-shadow:0px 0px  10px rgb(114,133,211);
    width:80px;
    -webkit-transition:.all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
}
#start, button:hover{
    width:100px;
}
#main_page{
    width:100vh;
    display: block;
    font-family: cursive, monospace;
}
label{
    font-size:20px;
    vertical-align: center;
    font-weight:bold;
    text-transform: capitalize;
    color:dimgrey;
    -webkit-transition:all .2s ease-in-out;
}

label:hover{
    color:white;
}
#main_page.hide{
    display:none;
}
#q1{
   display:none;
   width:100vh;

}
#q1.visible{
    display:block;

}
#q1 h1:before{
    content: " Q:1";
}
#q2 h1:before{
    content: " Q:2";
}
#q3 h1:before{
    content: " Q:3";
}
#q2{
    display:none;
}
#q2.visible2{
    display:block;
}
#q3{
    display:none;
}
#q3.visible3{
    display:block;
}
/* result section styling startin here */
#progress{
    display:none;
}
#progress h1{
    font-family:'Lobster', cursive;
}
#progress.show_result{
    display:block;
}
th{
    float:left;

}
td{
text-align:center;
}
table{
    border:1px solid black;
    box-shadow:0px 0px 5px rgb(12,12,12);
}


